### Bernardino Payan

### ANA 680 Midterm Pt 2

In [2]:
pwd

'/Users/bernardinopayan/midterm_ana680'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib

# Load dataset (replace with actual file path if needed)
df = pd.read_csv("StudentsPerformance.csv")

# Display first few rows
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
# Selecting features and target variable
X = df[['math score', 'reading score', 'writing score']]
y = df['race/ethnicity']

# Encoding target variable
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Splitting dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
# Train RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.24

In [6]:
joblib.dump(model, "student.pkl")
joblib.dump(label_encoder, "student_encoder.pkl")

['student_encoder.pkl']

In [7]:
import joblib

# Load the trained model
model = joblib.load("student.pkl")

# Print the version of scikit-learn used during training
print(model.__getstate__()['_sklearn_version'])

1.2.2